section {
    max-width: 1200px;   /* Perlebar section */
    margin: auto;
}

.swiper {
    width: 100%;
    padding: 40px 0;
}

.swiper-slide {
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    overflow: hidden;
}

.swiper-slide iframe {
    width: 100%;
    height: 250px;
}
